# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.*.local

# Dependency directories
node_modules/

# Disttribution directory
/dist

# MacOS DS Store file
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

